{% extends 'base.html' %}

{% block title %}
<title>NYK's Blog</title>
{% endblock title %}

{% block content %}

    <div class="flex space-x-8">
        <div class="w-full sm:w-2/3 col-span-3 sm:col-span-2 h-full">
            {% include 'components/index_post_cards.html' %}
        </div>
        <div class="w-1/3 hidden sm:block bg-white rounded-md shadow-md p-4 h-full">
            <h3 class="font-semibold text-lg mb-2">Categories</h3>
            <div class="flex flex-wrap">
                {% for category in categories %}
                    {% if selected_category == category.name %}
                    <div class="flex items-center text-white bg-slate-700 rounded-full px-4 py-1 m-2">
                        <span>{{category}} ({{category.num_post}})</span>             
                    </div>
                    {% else %}
                    <a href="{% url 'index' %}?category={{category}}">
                        <div class="flex items-center text-white bg-slate-500 hover:bg-slate-700 transition ease-in-out rounded-full px-4 py-1 m-2">
                            <span>{{category}} ({{category.num_post}})</span>             
                        </div>
                    </a>
                {% endif %}
                {% empty %}
                <p>There are currently no category.</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}