{% extends 'base.html' %}

{% block title %}
<title>Reset Password</title>
{% endblock title %}

{% block content %}

<div class="w-3/4 md:w-1/2 lg:w-1/4 mx-auto">
    <div class="p-6 bg-white rounded-md space-y-4">

        <h1 class="text-xl font-semibold text-gray-900">Reset Password</h1>
        <p>
            Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
        </p>
        <form method="post" class="space-y-4 md:space-y-6">
            {% csrf_token %}

            {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">{{ field.label }}</label>
                <input class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" aria-describedby="{{field.name}}">
                {% include 'components/field_errors.html' %}
            </div>
            {% endfor %}

            <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outine-none font medium rounded-lg text-sm px-5 py-2.5 text-center">Send Email</button>

            <!-- <p class="text-sm font-normal text-gray-500">
                Don't have an account yet? <a href="{% url 'signup' %}" class="text-blue-500 hover:underline text-sm font-medium">Sign up here</a>
            </p> -->
        </form>
    </div>
</div>

{% endblock content %}